.header__nav-bar {
    @include flex-layout(row, space-between, center);
    padding-top: 20px;
    padding-bottom: 20px;
    background: $main-dark-color;
}

.nav-bar__logo-block {
    @include flex-layout(row, center, flex-end);
    gap: 40px;
}

.nav-bar__buttons {
    @include flex-layout(row, center, center);
    gap: 32px;
}

.logo-block__button:hover .button__icon path {
    fill: $highlighting-color;
}

.buttons__button:hover .button__icon path {
    fill: $highlighting-color;
}

.button__icon path {
    transition: $fast-transition;
}

.buttons__button_hamburger-menu {
    position: relative;
    cursor: pointer;
}

.image__icon path {
    transition: $fast-transition;
}

.buttons__button_hamburger-menu:hover .button__image .image__icon path {
    fill: $highlighting-color;
}

.buttons__button_list {
    position: relative;
}

.button__counter {
    position: absolute;
    left: 24px;
    bottom: 18px;
    padding: 1px 5px 4px 7px;
    border-radius: $circle;
    background-color: $highlighting-color;
    font-weight: 400;
    font-size: 12px;
    color: $main-white-color;
}

.button__list {
    position: absolute;
    top: 30px;
    left: -54px;
    z-index: 3;
    margin-top: 25px;
    padding: 32px 72px 32px 32px;
    background-color: $main-white-color;
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.2);
}

.list__title {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 24px;
}

.list__categories {
    @include flex-layout(column, center, flex-start);
    gap: 20px;
}

.categories__category {
    @include flex-layout(column, center, flex-start);
    gap: 12px;
    white-space: nowrap;
}

.category__title {
    font-weight: 400;
    font-size: 14px;
    color: $highlighting-color;
}

.category__link {
    font-weight: 400;
    font-size: 14px;
    color: #6F6E6E;
    margin-left: 20px;
    transition: $fast-transition;
}

.category__link:hover {
    color: $highlighting-color;
}

@media (width <=$tablet-max-width) {
    .header__nav-bar {
        padding-right: 32px;
        padding-left: 32px;
    }

    .nav-bar__buttons {
        gap: 24px;
    }
}

@media (max-width: $phone-max-width) {
    .header__nav-bar {
        padding-right: 32px;
        padding-left: 16px;
    }
}