.main-content__products {
    @include flex-layout(column, center, center);
}

.main-content__products_index {
    margin-top: 96px;
    margin-bottom: 96px;
}

.main-content__products_product {
    margin-top: 128px;
    margin-bottom: 128px;
}

.main-content__products_catalog {
    margin-top: 0;
    margin-bottom: 0;
}

.products__title {
    color: $main-dark-color;
    font-size: 30px;
    font-weight: 400;
}

.products__description {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 48px;
}

.products__cards {
    @include grid-layout(repeat(auto-fit, minmax(360px, 1fr)), center, center);
    gap: 30px;
    max-width: $desktop-content-width;
}

@media (width <=$tablet-max-width) {
    .main-content__products_index {
        margin-top: 108px;
        margin-bottom: 64px;
    }

    .products__description {
        margin-top: 4px;
    }

    .products__cards {
        gap: 16px;
        max-width: $tablet-content-width;
    }

    .products__description {
        margin-bottom: 72px;
    }
}

@media (width <=$phone-max-width) {
    .main-content__products {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .main-content__products_index {
        margin-top: 64px;
        margin-bottom: 96px;
    }

    .main-content__products_product {
        margin: 64px 0;
    }

    .products__cards {
        max-width: $phone-content-width;
    }
}