$desktop-width: 1140px;
$desktop-extended-width: 1600px;
$desktop-indentations: 0px;
$tablet-max-width: 1024px;
$tablet-min-width: 768px;
$tablet-indentations: 8px;
$phone-max-width: 767px;
$phone-min-width: 320px;
$phone-indentations: 16px;
$main-dark-color: #222;
$main-white-color: #FFF;
$highlighting-color: #F16D7F;
$main-grey-color: #EAEAEA;
$product-highlighting-color: #EF5B70;
$light-overlay-color: rgba(33, 22, 22, 0.7);
$dark-overlay-color: rgba(58, 56, 56, 0.86);
$circle: 50%;
$fast-transition: 0.3s;