.main-content__description {
    position: relative;
    @include flex-layout(column, center, center);
    max-width: $desktop-width;
    margin: -64px auto 0;
    padding-top: 64px;
    padding-bottom: 64px;
    border: 1px solid rgb(234, 234, 234);
    background-color: $main-white-color;
}

.description__subtitle {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    color: $highlighting-color;
}

.description__bold-slider {
    width: 64px;
    height: 4px;
    background-color: $product-highlighting-color;
}

.description__title {
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;
}

.description__text {
    max-width: 555px;
    margin-top: 48px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #5e5e5e;
}

.description__price {
    margin-bottom: 64px;
    font-weight: 300;
    font-size: 24px;
    color: $product-highlighting-color;
}

.description__thin-slider {
    width: 644px;
    height: 1px;
    background-color: $main-grey-color;
    border: 1px $main-grey-color solid;
}

.description__selections {
    @include flex-layout(row, center, center);
    gap: 24px;
    margin-top: 64px;
}

.selection__title {
    @include flex-layout(row, center, center);
    gap: 8px;
    cursor: pointer;
    transition: $fast-transition;
}

.selection__title:hover .title__text_selection {
    color: $highlighting-color;
}

.selection__title:hover .title__icon_selection path {
    fill: $highlighting-color;
}

.title__text_selection {
    font-weight: 400;
    font-size: 14px;
    color: #6f6e6e;
}

.title__icon_selection path {
    padding-top: 7px;
    padding-bottom: 5px;
}

@media (width <=$tablet-max-width) and (width >=$tablet-min-width) {
    .main-content__description {
        margin-top: 0;
    }

    .description__subtitle,
    .description__title,
    .description__text,
    .description__price {
        font-weight: 400;
    }
}