.main-content__products {
    @include flex-layout(column, center, center);
}

.main-content__products_index {
    margin-top: 96px;
    margin-bottom: 96px;
}

.main-content__products_product {
    margin-top: 128px;
    margin-bottom: 128px;
}

.main-content__products_catalog {
    margin-top: 0;
    margin-bottom: 0;
}

.products__title {
    color: $main-dark-color;
    font-size: 30px;
    font-weight: 400;
}

.products__description {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 48px;
}

.products__cards {
    @include grid-layout(repeat(3, 360px), center, center);
    gap: 32px;
}

@media (max-width: $tablet-max-width) {
    .main-content__products {
        margin-top: 108px;
        margin-bottom: 64px;
    }

    .products__description {
        margin-top: 4px;
    }

    .products__cards {
        @include grid-layout(repeat(2, 360px), center, center);
        gap: 16px;
        margin-top: 72px;
    }
}

@media (max-width: $tablet-max-width) {
    .main-content__products {
        margin-top: 64px;
        margin-bottom: 96px;
    }

    .products__cards {
        @include grid-layout(360px, center, center);
        margin-top: 64px;
    }
}