@import 'abstracts/variables';
@import 'abstracts/mixins';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="number"] {
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

fieldset {
    border: none;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    @include content-area-centering($desktop-content-width, $desktop-indentations);
}

@media (max-width: $tablet-max-width) {
    .center {
        @include content-area-centering($tablet-content-width, $tablet-indentations);
    }
}

@media (max-width: $phone-max-width) {
    .center {
        @include content-area-centering($phone-content-width, $phone-indentations);
    }
}